.main-header-wrapper
    max-width: 100%
    padding: 10px 50px
    .container-wrapper
        display: flex

        align-items: center
        .logo-wrapper
            width: 5%
        .main-nav-wrapper
            width: 65%
            .main-container-nav
                list-style-type: none
                display: flex
                max-width: 100%
                justify-content: space-evenly
                .link-nav
                    a
                        text-decoration: none
                        color: #4F4F4F
                        font-size: 12px
                        line-height: 14px
                        letter-spacing: 0.02em
                        text-transform: uppercase
                        transition: color .3s ease
                        &:hover
                            color: #1FBB83
        .btn-header-wrapper
            max-width: 30%
            display: flex
            align-items: center
            .main-wrapper-header
                display: flex
                list-style-type: none
                .main-btn-wrapper
                    margin-right: 40px
                    .btn-header
                        padding: 12px
                        background: #F4F7F9
                        border-radius: 50%
                        margin-right: 15px
                        cursor: pointer
                        transition: .3s ease
                        position: relative

                        &:hover
                            transform: scale(1.1)
                            background: #E5FFF6
                        img
                            width: 15px
                            height: 15px
                    .cart-link
                        .hidden-wrapper-count
                            position: absolute
                            top: 0
                            right: -5px
                            width: 16px
                            height: 16px
                            background: #1FBB83
                            border: 2px solid #FFFFFF
                            display: flex
                            align-items: center
                            justify-content: center
                            border-radius: 50%
                            span
                                font-size: 10px
                                color: #fff
            .leng-wrapper
                .btn-leng-header
                    display: flex
                    align-items: center
                    justify-content: center
                    span
                        font-size: 14px
                        margin: 0 5px
                        display: inline-block
.mobile-header
    max-width: 100%
    position: relative
    overflow: hidden
    .container-wrapper-mobile-header
        display: flex
        justify-content: space-between
        padding: 10px 25px
        align-items: center
        .btn-wrapper-open

        .logo-wrapper

        .btn-wrapper-container
            display: flex
            .btn-header
                width: 28px
                height: 28px
                display: flex
                align-items: center
                justify-content: center
                background: #F4F7F9
                border-radius: 50%
                position: relative
                &:nth-child(1)
                    margin-right: 15px
            .cart-link
                .hidden-wrapper-count
                    position: absolute
                    top: -5px
                    right: -12px
                    width: 16px
                    height: 16px
                    background: #1FBB83
                    border: 2px solid #FFFFFF
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 50%
                    span
                        font-size: 10px
                        color: #fff
    .mobile-nav-header
        position: fixed
        z-index: -2
        width: 100%
        left: 0

        background: #F4F7F9
        top: -300px

        ul
            list-style-type: none
            display: flex
            flex-direction: column
            li
                max-width: 100%
                padding: 10px 15px
                border-bottom: 1px solid #E0E0E0
                a
                    text-decoration: none
                    font-weight: 600
                    font-size: 12px
                    line-height: 100%
                    text-transform: uppercase
                    color: #424242
            .lang-wrapper
                max-width: 100%
                padding: 10px 15px
            .btn-login-wrapper
                max-width: 100%
                display: flex
                align-items: center
                justify-content: center
                .btn-main-container
                    margin: 0 15px
                    background: #fff
                    display: flex
                    align-items: center
                    justify-content: center
                    max-width: 290px
                    width: 100%
                    height: 42px
                    border-radius: 6px
                    cursor: pointer
                    span
                        font-size: 12px
                        line-height: 14px
                        text-align: center
                        color: #4F4F4F
    .active-mobile-nav
        animation: fadeOn .4s ease-in-out forwards

@keyframes fadeOn
    0%
        z-index: -2
        top: -300px
    100%
        z-index: 5
        top: 12vh

@media screen and ( max-width: 1220px )
    .main-header-wrapper
        display: none
    .mobile-header
        display: block
@media screen and ( min-width: 1220px )
    .main-header-wrapper
        display: block
    .mobile-header
        display: none
